/* You can add global styles to this file, and also import other style files */
.hola{
     
 display:inline-block;
    width: 80%;
    margin-left: 200px;
    text-align: center;
  
    
}


.body{
background-color: gray;
}